In [72]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
np.random.seed(12345)

In [74]:
df1 = pd.DataFrame(np.arange(12).reshape((3, 4)),
                   columns=list('abcd'))
df1

   a  b   c   d
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [81]:
def f(x):
    return''.join(e for e in x.sort_values().index)

In [82]:
df2 = df1.apply(f, axis=1)
df2.name ="e"
df1.join(df2)

   a  b   c   d     e
0  0  1   2   3  abcd
1  4  5   6   7  abcd
2  8  9  10  11  abcd